<div>
   <form action="/web/login" method="post">
      <div>
         <label style="width: 70px;">Username</label>
         <input style="display: inline-block; width: 200px;" type="text" class="form-control" name="username"> 
      </div>
      <div>
         <label style="width: 70px;">Password</label>
         <input style="display: inline-block; width: 200px;" type="password" class="form-control" name="password"> 
      </div>
      <div>
         <input type="submit" class="btn btn-primary" Value="Log In">
      </div>
   </form>
</div>
